body {
  background-color: #1E1E1F;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
    margin: 2rem;
    padding-bottom: 2rem;
}

#landing-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies-header,
#about-header,
#landing-header {
    position: relative;           
    display: flex;
    justify-content: center;     
    align-items: center;          
    background-color: #50EAD7;   
    border-radius: 10px;         
    padding: 1rem 2rem;
}

#landing-header {
    background-color: #A7A7A8;  
    width: 100%;
    margin-bottom: 2rem;
}

#hobbies-header h1,
#about-header h1,
#landing-header h1 {
    color: #1E1E1F;          
    margin: 0;
    font-size: 2rem;
}

#back-arrow {
    position: absolute;
    left: 1rem;                 
    top: 50%;                   
    transform: translateY(-50%); 
    background-color: transparent;
    color: #1E1E1F;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    transition: background 0.2s;
    font-size: 3rem;
}

#content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 2rem; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 1;
}

#hobbies-images,
#about-images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hobbies-images img,
#about-images img {
    width: 400px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #50EAD7;
}

#cover-image img {
    width: 800px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #A7A7A8;
}

#hobbies-divider,
#about-divider {
    width: 5px;
    background-color: #50EAD7;
    border-radius: 10px;
    align-self: stretch;
}

#hobbies-text,
#about-text {
    flex: 1;
    width: 90%; 
    max-width: 1200px;
    height: 100%;
    color: #ddd;
    font-size: 30px;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #50EAD7;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

#nav {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem 0;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.nav-btn {
    font-size: larger;
    padding: 15px 90px;
    border-radius: 10px;
    cursor: pointer;
    color: #1E1E1F;
    font-weight: bold;
}

.about {
    background-color: #50EAD7;
}
.hobbies {
    background-color: #50EAD7;
}

.nav-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

footer {
    text-align: center;
    border-top: 1px solid #333;
    color: #aaa;
    font-size: 0.9rem;
    background-color: #1E1E1F;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    z-index: 1000;  
}
